<%- include('layout', { 
    title: post.title, 
    body: `
      <h1><%= post.title %></h1>
      <p><%= post.content %></p>
      <p><em>Author: <%= post.author %></em></p>
  
      <!-- Link to edit the post -->
      <a href="/posts/<%= post._id %>/edit">Edit Post</a>
  
      <!-- Form to delete the post -->
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete Post</button>
      </form>
  
      <!-- Link to go back to the list of posts -->
      <a href="/posts">Back to Posts</a>
    ` 
  }) %>
  