<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
</head>
<body>
    <h1>All Blog Posts</h1>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <h2><%= post.title %> - <%= post.id %></h2>
                <p><%= post.content %></p>
                <small>By <%= post.author %> on <%= post.date.toDateString() %></small>
            </li>
        <% }) %>
    </ul>
</body>
</html>
